a{
    color:blue;

}
a:visited{
    color:red;

}

a:hover, a:active{
    color:greenyellow;
}

body{
    font-family:"Comic Sans MS", Helvetica, sans-serif;
    font-size:20px;
    background: linear-gradient(138deg, #448a27 0%, #81d060 100%);

}

.main{
    font-family: Arial;
    font-size:10px;
    picture-width:10px;

}
.icon {
    width: 20px;
    display: block; /* or display: flex; */
    margin-left: auto;
    margin-right: auto;
}

.bigicon {
    width: 50px; /* This will set the width of all images */
    margin-left: 50%;



}
input{
    width: 200px;

}
.notmain{
    font-family: "Comic Sans MS";
    font-size:10px;
    picture-width:10px;

}

.yoclass{
    font-family: "HoloLens MDL2 Assets";
    background: gray;
    align-content: center;
    width: 500px;
    display: block; /* or display: flex; */

    margin-left: auto;
    margin-right: auto;

    border: 10px dotted white;

    padding: 40px;

}
.textbeforebutton{
    font-family: "Poppins", sans-serif;
    border-radius: 49px;


    display: block;

    margin-left: 50%;



    font-weight: 500;
    font-size: 32px;
    color: white;
    background-color: transparent;
    border-color:green;
}
.button {
    font-family: "Poppins", sans-serif;
    border-radius: 49px;
    padding: 14px 184px;
    display: block;

    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 32px;
    color: white;
    background-color: transparent;
    border-color:green;
}
